<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>drawing</title>
    <link href="/static/css/blogsheet.css" rel="stylesheet">
    <script src="/static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/static/js/lib/jquery.url.js"></script>
    <script src="/static/js/blog.js"></script>
    <link rel="stylesheet" href="/static/css/tooplate-style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/static/slick/slick.css">
    <link rel="stylesheet" href="/static/slick/slick-theme.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>

{{/*{{template "nav.html" .}}*/}}

<div id="main">
    <form id="write-art-form" method="post">
        <div class="a_demo_two">title:
        <input type="text" placeholder="PLEASE ENTER TITLE" name="title" value="{{.Title}}">
        </div>
        <div class="a_demo_two">label:
        <input type="text" placeholder="PLEASE ENTER DATE" name="tags" value="{{.Tags}}">
        </div>
        <div class="a_demo_two">synopsis</div>
        <textarea  name="short">{{.Short}}</textarea>
        <div class="a_demo_two">content</div>
        <textarea id="content"  name="content">{{.Content}}</textarea>
        <input id="write-article-id" hidden name="id" value="{{.Id}}">
        <div class="home-block-item-udpate">
        <button type="button" onclick="history.back()" class="a_demo_two"  >return</button>
        <button type="submit" id="write-art-submit" class="a_demo_two"  >submit</button>
        </div>
    </form>
</div>

</body>
</html>